<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .navbar{
            padding: 10px;
            background-color: skyblue;
        }
        a{
            text-decoration: none;
            padding: 5px;
        }
    </style>
</head>
<body>
    {% block body_block %}
    {% endblock %}
    <div class="navbar">
        <a href="{% url 'index'%}">HOME</a>
        <a href="{% url 'basic_app:other1' %}">OTHER1</a>
        <a href="{% url 'basic_app:other2' %}">OTHER2</a>
        <a href="{% url 'basic_app:other3' %}">OTHER3</a>
        <a href="{% url 'basic_app:relative' %}">RELATIVE</a>
    </div>

    
</body>
</html>